*{
    padding: 0;
    margin: 0;
}
.top{
    display: flex;
    background-color: #1C7DD1;
    height: 40px;
}
.top p{
    font-size: 1.1em;
    color: white;
    padding-left: 33%;
    font-style: normal;
    padding-top: 10px;
}
.btn{
    padding-left: 9px;
    padding-top: 8px;  
}
.Learn{
    border: 1px solid white;
    height: 25px;
    width: 110px;
    background-color: #1C7DD1;
    color: white;
}
.btn button:hover{
    background-color: blue;
    border: 1px solid blue;
    cursor: pointer;
}
.top1{
    display: flex;
    justify-content: space-between;
    line-height: 30px;
}
.mains{
    padding-left: 30px;
    padding-top: 20px;

}
.mains ul{
    display: flex;
    gap: 40px;
}
.mains i{
    color: #1C7DD1;
    margin-right: 8px;
}
.mains ul li{
    list-style: none;
}
.mains ul li:hover{
    color: #1C7DD1;
    cursor: pointer;

}
.main1{
    padding-top: 20px;
    padding-right: 60px;
}
.main1 ul{
    display: flex;
    gap: 40px;
    
}
.main1 ul li{
    list-style: none;
    
}
.main1 ul li:hover{
    color: #1C7DD1;
    cursor: pointer;
}
.hr{
    padding-top: 20px;
    color: grey;
    height: 0.01px;
   
    border: none;
}

.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}



.contact {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: 25%;
    margin-top: 10%;
}

.contact h3 {
    font-size: 2rem;
    color: #2980b9;
    margin-bottom: 10px;
}

.contact p {
    margin-bottom: 20px;
    color: #7f8c8d;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #2c3e50;
}

input, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    padding: 10px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
}

button:hover {
    background-color: #3498db;
}
